{% extends 'base.html' %}

{% block content %}
    <h1 class="center-heading">Upload PdFs</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success" role="alert">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="pdf_file" accept=".pdf">
        <button type="submit">Upload</button>
    </form>
{% endblock %}